body {
    place-content: center;
    min-height: 100vh;
}

:root{
    /*--experance-background:;*/
  
    --color-basewhite: #f8f8f8;
    --color-basedark-one: #4a525a;
    --color-basedark-two: #ff8552;
    --color-basedark-three: #72a1e5;
    --color-basedark-four: #768948;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}


/* body default */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* A elements with no class default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /*fonts for input, buttons, ect. */
input,
button,
textarea,
select {
  font: inherit;
}
    
/* utilities */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}
  
  
.main-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    
    /*padding-block: 2rem;*/
    width: min(90%, 90rem);
      
    margin-inline: auto;
    z-index: 0;
}

.sidebar-left {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: var(--color-basedark-three);
    
    width: 10rem;
}

.sidebar-profile-photo {
    display: block;
    
    transform:rotate(-4deg);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150px;

    background-image: url(/assets/profilePic.jpg);
    background-size: 100% 100%;
        
    background-repeat: no-repeat;
    border-radius:15%;
    background-color: var(--color-basewhite);
    border-color:var(--color-basedark-one);
    border-style:ridge;
    border-width: 5px;

}

.top-bar {
    position: relative;
    grid-column: 2 / 6;
    background-color: var(--color-basedark-two);
   /* height: 10vh;*/
}


.description {
    grid-column: 2 / 6;
    background-color: var(--color-basedark-one);

    height: 30vh;
} 

.work-canvas {
    grid-column: 2 /6;
    background-color: var(--color-basewhite);

   /* height: 50vh;*/
}

.canvas-board {
    display: flex;
    flex-flow: wrap;

}

.card {
    background-color: var(--color-basedark-four);
    /*: 30%;*/
    margin: 70px;
    text-align: center;
    line-height: 300%;
    font-size: 30px;   
}

.footer {
    grid-column: 1 /6;
    background-color: var(--color-basedark-four);

    height: 3rem;
}