body {
    place-content: center;
    min-height: 100vh;
}

:root{
    /*--experance-background:;*/
  
    --color-basewhite: #f8f8f8;
    --color-basedark-one: #4a525a;
    --color-basedark-two: #ff8552;
    --color-basedark-three: #72a1e5;
    --color-basedark-four: #768948;

    --color-sidebar-base: #c7b198;
    --color-sidebar-fade1: #DFD3C3;
    --color-sidebar-fade2: #F0ECE3;
    
    --color-discription-base: #8B7E74;

    --color-topbar-base: #596e79;

    --color-canvas-base: #F3E9DD;
    --color-canvas-card: #FDF6EC;



}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}


/* body default */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* A elements with no class default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /*fonts for input, buttons, ect. */
input,
button,
textarea,
select {
  font: inherit;
}
    
/* utilities */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}
  
  
.main-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    
    /*padding-block: 2rem;*/
    width: min(95%);
      
    margin-inline: auto;
    margin-top: 5px;
    z-index: 0;
    
    
}

.sidebar-left {
    
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: var(--color-sidebar-base);
    background-color: red;
    background-image:
      linear-gradient(
        to right, 
        var(--color-sidebar-base) 10%,
        var(--color-sidebar-base) 15%,
        var(--color-sidebar-fade1) 15%,
        var(--color-sidebar-base) 100%,
        var(--color-sidebar-base) 100%
      );
    margin-left: 5px;
    width: 15rem;
    

    border-radius: .5em .5em;

    text-align: center;
}

.sidebar-profile-photo {
    display: block;
    
    transform:rotate(-4deg);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150px;

    background-image: url(/assets/profilePic.jpg);
    background-size: 100% 100%;
        
    background-repeat: no-repeat;
    border-radius:15%;
    background-color: var(--color-basewhite);
    border-color:var(--color-basedark-one);
    border-style:ridge;
    border-width: 5px;
    opacity: 100%;

}

.top-bar {
    position: relative;
    grid-column: 2 / 6;
    background-color: var(--color-topbar-base);
   /* height: 10vh;*/
   border-radius: .5em ;
}


.description {
    grid-column: 2 / 6;
    background-color: var(--color-discription-base);

    height: 30vh;

    border-radius: .5em;
} 

.work-canvas {
    grid-column: 2 /6;
    background-color: var(--color-canvas-base);
    border-radius: .5em ;
   /* height: 50vh;*/
}

.canvas-board {
    display: flex;
    flex-flow: wrap;
    padding: 20px;

}

.card {
    background-color: rgba(253, 246, 236, 500%);
    /*: 30%;*/
    margin: 60px;
    /*text-align: center;*/
    line-height: 35px;
    width: 300px;
    font-size: 15px;
    padding: 15px;   

    box-shadow: 10px 10px 8px 10px #888888;

   
}


/*  rgba(245, 245, 245, 80%) */
.experience {

    /*height: 20px;*/
    
    background-color: whitesmoke;
    border-radius: .5em .5em;

    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis; 
     
}
  
.experience.position {
    /*
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    */
    line-height: 1;
}

.experience.p {
  
}
  /*
  .experience.company {
    /*
    font-size: var(--fs-300);
    
     opacity: 0.5; 
}
  */
  /*
  .experience.timeframe {
    
    font-size: var(--fs-400);
    
     opacity: 0.5; 
  }
  */
  
  /*.experience.jobsymbol_1 {
    background-image: url("./assets/shopping.svg");
    background-repeat: no-repeat;
    background-position: top right 5%;
    background-size: 10%;
    background-position-y: 20%;
  }
  */

.footer {
    grid-column: 1 /6;
    background-color: var(--color-basedark-four);

    height: 3rem;
}